<!DOCTYPE>
<html lang="en">
    <head>
        <title>DIVES - Microsoft</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <link rel="stylesheet"  href="../style/profile.css">
    </head>
    <body>

            <!-- Navbar -->
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">  
                        <a class="navbar-brand" href="#">DIVES</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="profile.html">Microsoft</a></li>
                        </ul>
                        <form class="navbar-form navbar-right">
                            <input type="text" class="form-control" placeholder="Search...">
                        </form>
                    </div>
                </div>
            </nav>   

            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li><a href="dashboard.html">Dashboard</a></li>
                    <li><a href="#">Recommendation</a></li>
                    <li><a href="#">Message</a></li>   
                </ul>
                <ul class="sidebar-nav">
                    <li><a href="upcoming.html">Upcoming Events</a></li>
                    <li><a href="event.html">List of Events</a></li>
                </ul>
            </div>
            
            <!-- Page content -->
            <div id="page-content-wrapper">
                <!--<div class="container-fluid">
                    <div class="header">
                        <div class="header-details1">
                            <center>
                            <svg height="200" width="200">
                                <circle cx="100" cy="100" r="100" stroke-width="0" fill="grey" />
                            </svg>
                            </center>
                        </div>
                        <div class="header-details2">
                            <center><h3>Microsoft Corporation</h3></center>
                            <p class="text-right"><a href="settings.html">settings</a></p>
                        </div>
                        <hr>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1">
                                No.
                            </div>
                            <div class="col-md-4">
                                Job Title
                            </div>
                            <div class="col-md-4">
                                Keyword(s)
                            </div>
                            <div class="col-md-1">
                                Vacancy
                            </div>
                            <div class="col-md-1">
                                Applicant(s)
                            </div>
                        </div>
                    </div>                     
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-1">
                                1
                            </div>
                            <div class="col-md-4">
                                Software Engineer
                            </div>
                            <div class="col-md-4">
                                Java<br>
                                C++<br>
                            </div>
                            <div class="col-md-1">
                                10
                            </div>
                            <div class="col-md-1">
                                1
                            </div>
                            <div class="col-md-1">
                                <p class="text-right"><a href="edit.html">Edit</a></p>
                            </div>
                        </div>
                    </div>  
                    
                </div>
                 
                <p class="text-right"><a href="add.html">Add</a></p>-->
                <div ng-app="myapp" ng-controller="jobcontroller" ng-init="displayData()">
                    <label>Position</label>
                    <input type="text" name="position" ng-model="position" class="form-control" value="" />
                    <br>
                    <label>1st Requirement</label>
                    <input type="text" name="requirement1" ng-model="requirement1" class="form-control" value="" />
                    <br>
                    <label>2nd Requirement</label>
                    <input type="text" name="requirement2" ng-model="requirement2" class="form-control" value="" />
                    <br>
                    <label>3rd Requirement</label>
                    <input type="text" name="requirement3" ng-model="requirement3" class="form-control" value="" />
                    <br>
                    <label>Vacancy</label>
                    <input type="text" name="vacancy" ng-model="vacancy" class="form-control" value="" />
                    <br>
                    <label>Applicant</label>
                    <input type="text" name="applicant" ng-model="applicant" class="form-control" value="" />
                    <br>
                    <label>Fulltime/Parttime</label>
                    <input type="text" name="fp" ng-model="fp" class="form-control" value="" />
                    <br>
                    <input type="hidden" ng-model="jobid" />
                    <input type="submit" name="btnInsert" class="btn btn-info" ng-click="insertData()" value="{{btnName}}" />
                    <br><br>
                    <table class="table table-condensed">
                        <tr>
                            <th>Id</th>
                            <th>Position</th>
                            <th>Requirement</th>
                            <th>Requirement</th>
                            <th>Requirement</th>
                            <th>Vacancy</th>
                            <th>Applicant</th>
                            <th>Fulltime/Parttime</th>
                            <th>Update</th>
                            <th>Delete</th>
                        </tr>
                        <tr ng-repeat="x in names">
                            <td>{{x.Id}}</td>
                            <td>{{x.Position}}</td>
                            <td>{{x.Requirement1}}</td>
                            <td>{{x.Requirement2}}</td>
                            <td>{{x.Requirement3}}</td>
                            <td>{{x.Vacancy}}</td>
                            <td>{{x.Applicant}}</td>
                            <td>{{x.FP}}</td>
                            <td><button ng-click="updateData(x.Id, x.Requirement1, x.Requirement2, x.Requirement3, x.Vacancy, x.Applicant, x.FP)" class="btn btn-info btn-xs">Update</button></td>
                            <td><button ng-click="deleteData(x.Id)" class="btn btn-danger btn-xs">Delete</button></td>
                        </tr>
                    </table>
                </div>
            </div>

        <!-- Menu Toggle script -->
        <script>
            $("#menu-toggle").click( function (e){
                e.preventDefault();
                $("#wrapper").toggleClass("menuDisplayed");
            })
        </script>    
    </body>
</html>