 <!DOCTYPE html>  
 <!-- index.php !-->  
 <html>  
      <head>  
           <title>Test Data Display</title>  
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
           <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
      </head>  
      <body>  
           <br /><br />  
           <div class="container" style="width:550px;">  
                <h3 align="center">User database</h3>  
                <div ng-app="myapp" ng-controller="usercontroller" ng-init="displayData()">  
                     <label>Username</label>  
                     <input type="text" name="username" ng-model="username" class="form-control" />  
                     <br />  
                     <label>Skill</label>  
                     <input type="text" name="skill1" ng-model="skill1" class="form-control" />  
                     <br />
                     <label>Skill</label>  
                     <input type="text" name="skill2" ng-model="skill2" class="form-control" />  
                     <br />
                     <label>Skill</label>  
                     <input type="text" name="skill3" ng-model="skill3" class="form-control" />  
                     <br /> 
                     <input type="hidden" ng-model="userid" /> 
                     <input type="submit" name="btnInsert" class="btn btn-info" ng-click="insertData()" value="{{btnName}}"/>  
                     <br /><br />  
                     <table class="table table-bordered">  
                          <tr>  
                               <th>Id</th>
                               <th>Username</th>  
                               <th>Skill</th>
                               <th>Skill</th>
                               <th>Skill</th>
                               <th>Update</th>
                               <th>Delete</th>
                          </tr>  
                          <tr ng-repeat="x in names">
                               <td>{{x.Id}}</td>  
                               <td>{{x.Name}}</td>  
                               <td>{{x.Skill1}}</td>
                               <td>{{x.Skill2}}</td>
                               <td>{{x.Skill3}}</td>  
                               <td><button ng-click="updateData(x.Id, x.Name, x.Skill1, x.Skill2, x.Skill3)" class="btn btn-info btn-xs">Update</button></td>
                               <td><button ng-click="deleteData(x.Id)"class="btn btn-danger btn-xs">Delete</button></td>
                          </tr>  
                     </table>  
                </div>  
           </div>  
      </body>  
 </html>  
 <script>  
 var app = angular.module("myapp",[]);  
 app.controller("usercontroller", function($scope, $http){
    $scope.btnName = "ADD";  
      $scope.insertData = function(){
          if($scope.username == null)  
           {  
                alert("Name is required");  
           }  
           else if($scope.skill1 == null)  
           {  
                alert("SKill is required");  
           }
           else if($scope.skill2 == null)  
           {  
                alert("SKill is required");  
           }
           else if($scope.skill3 == null)  
           {  
                alert("SKill is required");  
           }    
           else{
            $http.post(  
                    "insert.php",  
                    {'username':$scope.username, 'skill1':$scope.skill1, 'skill2':$scope.skill2, 'skill3':$scope.skill3, 'btnName':$scope.btnName, 'userid':$scope.userid}  
            ).success(function(data){  
                    alert(data);  
                    $scope.username = null;  
                    $scope.skill1 = null;
                    $scope.skill2 = null;
                    $scope.skill3 = null; 
                    $scope.btnName = "ADD"; 
                    $scope.displayData();  
            }); 
           } 
      }  
      $scope.displayData = function(){  
           $http.get("select.php")  
           .success(function(data){  
                $scope.names = data;  
           });  
      } 
      $scope.updateData = function(Id, Name, Skill1, Skill2, Skill3){
          $scope.userid = Id;
          $scope.username = Name;
          $scope.skill1 = Skill1;
          $scope.skill2 = Skill2;
          $scope.skill3 = Skill3;
          $scope.btnName = "Update";
      }
      $scope.deleteData = function(Id){
          if(confirm("Are you sure want to delete this data?")){
                $http.post("delete.php", {'userid':Id})  
                .success(function(data){  
                     alert(data);  
                     $scope.displayData();  
                });
          }
          else{
              return false;
          }
      }
 });  
 </script>