 <!DOCTYPE html>  
 <!-- index.php !-->  
 <html>  
      <head>  
           <title>Webslesson Tutorial | AngularJS Tutorial with PHP - Fetch / Select Data from Mysql Database</title>  
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
           <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
      </head>  
      <body>  
           <br /><br />  
           <div class="container" style="width:500px;">  
                <h3 align="center">AngularJS Tutorial with PHP - Fetch / Select Data from Mysql Database</h3>  
                <div ng-app="myapp" ng-controller="usercontroller" ng-init="displayData()">  
                     <label>Username</label>  
                     <input type="text" name="username" ng-model="username" class="form-control" />  
                     <br />  
                     <label>Skill</label>  
                     <input type="text" name="skill1" ng-model="skill1" class="form-control" />  
                     <br />
                     <label>Skill</label>  
                     <input type="text" name="skill2" ng-model="skill2" class="form-control" />  
                     <br />
                     <label>Skill</label>  
                     <input type="text" name="skill3" ng-model="skill3" class="form-control" />  
                     <br />  
                     <input type="submit" name="btnInsert" class="btn btn-info" ng-click="insertData()" value="{{x.btnName}}"/>  
                     <br /><br />  
                     <table class="table table-bordered">  
                          <tr>  
                               <th>Username</th>  
                               <th>Skill</th>
                               <th>Skill</th>
                               <th>Skill</th>
                               <th>Update</th>
                          </tr>  
                          <tr ng-repeat="x in names">  
                               <td>{{x.Name}}</td>  
                               <td>{{x.Skill1}}</td>
                               <td>{{x.Skill2}}</td>
                               <td>{{x.Skill3}}</td>  
                               <td><button ng-click="updateData(x.Name, x.Skill1, x.Skill2, x.Skill3)" class="btn btn-info btn-xs">Update</button></td>
                          </tr>  
                     </table>  
                </div>  
           </div>  
      </body>  
 </html>  
 <script>  
 var app = angular.module("myapp",[]);  
 app.controller("usercontroller", function($scope, $http){
     $scope.btnName = "ADD";  
      $scope.insertData = function(){
          if($scope.username == null)  
           {  
                alert("Name is required");  
           }  
           else if($scope.skill1 == null)  
           {  
                alert("SKill is required");  
           }
           else if($scope.skill2 == null)  
           {  
                alert("SKill is required");  
           }
           else if($scope.skill3 == null)  
           {  
                alert("SKill is required");  
           }    
           else{
           $http.post(  
                "insert.php",  
                {'username':$scope.username, 'skill1':$scope.skill1, 'skill2':$scope.skill2, 'skill3':$scope.skill3, 'btnName':$scope.btnName}  
           ).success(function(data){  
                alert(data);  
                $scope.username = null;  
                $scope.skill1 = null;
                $scope.skill2 = null;
                $scope.skill3 = null;  
                $scope.displayData();  
           }); 
           } 
      }  
      $scope.displayData = function(){  
           $http.get("select.php")  
           .success(function(data){  
                $scope.names = data;  
           });  
      } 
      $scope.updateData = function(Name, Skill1, Skill2, Skill3){
          $scope.username = Name;
          $scope.skill1 = Skill1;
          $scope.skill2 = Skill2;
          $scope.skill3 = Skill3;
          $scope.btnName = "Update";
      }
 });  
 </script>